# ========================================================
# User Service: Database Configuration (Postgresql)
# ========================================================
USER_DB_NAME=
USER_DB_USER=
USER_DB_PASSWORD=

# ========================================================
# Catalog Service: Database Configuration (Postgresql)
# ========================================================
CATALOG_DB_NAME=
CATALOG_DB_USER=
CATALOG_DB_PASSWORD=
